{% extends 'base/base.html' %}
{% load static %}
{% block header %}
{% endblock %}

{% block conteudo %}
<section>
    <p class="container__texto__segunda" id="{{dia}}" data-dia>{{dia}}</p>

{% include 'partials/_categorias_totais.html' %}
{% include 'partials/pagination.html' %}

    <form method="POST">
        {% csrf_token %}
        <ul>
            {% for treino in videos %}
            <li class="video__container">
                <div class="video__descricao">
                {% include 'partials/_info_categorias.html'%}

                <div class="video__descricao__textos">
                    <h3>{{ treino.exercicio}}</h3>
                    {% if treino.quantidade %}
                        <p>{{ treino.repeticao}} * {{treino.quantidade}}</p>
                    {% else %}
                        <p>{{ treino.repeticao }} * ({{treino.time}}) Segundos</p>
                    {% endif %}
                    
                    {% if treino.id in lista_video_id %}
                        <input type="checkbox" id="{{treino.id}}" name="videos" value="{{treino.id}}" class="botao_checkbox" checked>
                    {%else%}
                        <input type="checkbox" id="{{treino.id}}" name="videos" value="{{treino.id}}" class="botao_checkbox">
                    {% endif %}
                    
                    {% if user.is_authenticated %}
                        <label for="{{treino.id}}">
                            <span>
                                <button class="button__texto"></button>
                            </span>
                        </label>
                    {% endif %}
                </div>
            </div>


                <div class="video__cointainer__video__img">
                    <img class="video__img" src="{% static 'img/fortnite.jpg'%}" id="{{treino.id}}" alt="" data-imagem data-url="{{treino.id_video_youtube}}">
                
                    {% comment %} <iframe class="video__video" src="{{ treino.video }}?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen preload="metadata" referrerpolicy="no-referer" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe> {% endcomment %}
                    <div id="player{{treino.id}}"></div>
                </div>
            
            </li>
            {% endfor %}
        </ul>
        {% if user.is_authenticated %}
            <input type="checkbox" id="input_pagina_4" name="pagina_4" value="incial" class="botao_checkbox">
            <input type="checkbox" id="input_pagina_1" name="pagina_1" value="{{page_obj.number}}" class="botao_checkbox">
            <input type="checkbox" id="input_pagina_2" name="pagina_2" value="{{page_obj.number}}" class="botao_checkbox">
            <input type="checkbox" id="input_pagina_3" name="pagina_final" value="{{page_obj.paginator.num_pages}}" class="botao_checkbox">

            <input type="checkbox" id="todos" name="todos" value="todos" class="botao_checkbox">
            {% for page in page_obj %}
                <input type="checkbox" id="lista" name="id_page" value="{{page.id}}" class="botao_checkbox" checked>
            {% endfor %}
            <input type="checkbox" id="todos" name="todos" value="todos" class="botao_checkbox">

            {% for categoria in categorias %}
                <input type="checkbox" id="{{categoria.categoria}}" name="categorias__input" value="{{categoria|upper}}" class="botao_checkbox">
            {% endfor %}
            

            <button type="submit" class="button__input salvar" id="teste_botton" >Salvar</button>
            {% endif %}
        </form>

    </section>
    <script src="https://www.youtube.com/iframe_api"></script>  
    <script src="{% static 'js/apiYoutubeIframe.js'%}"></script>
    <script src="{% static 'js/viewport.js'%}" type="module"></script>

    {% include 'partials/pagination.html' %}
{% include 'partials/footer.html' %}
{% endblock %}