{% extends 'base/base.html' %}
{% load static %}
{% block header %}
{% endblock %}

{% block conteudo %}
<section class="container__geral__videos">
    <div class="container__dia__adicionar">
        <p class="container__texto__segunda container__texto__segunda_treino" id="dia_semanal" data-dia>{{dia}}</p>
        <div class="container_buttao_alert">
            <p>A alteração não salvas! Deseja salvar?</p>
            <button value="Sim" class="button_alert" type="button">Sim</button>
            <button value="Não"class="button_alert" type="button">Não</button>
        </div>
    </div>
<div class='container__relative '>
    {% include 'partials/_categorias_totais.html' %}
</div>
{% include 'partials/pagination.html' %}
    {% if videos %}
    <form method="POST">
        {% csrf_token %}
        <ul id="ulVideos">
           
            {% for treino in videos %}
            <li class="video__container" data-categoria-tag="{{treino.categorias}}">
                <div class="video__descricao">
                {% include 'partials/_info_categorias.html'%}

                <div class="video__descricao__textos">
                    <h3>{{ treino.exercicio}}</h3>
                    
                    {% if treino.id in lista_video_id %}
                        <input type="checkbox" id="{{treino.id}}" name="videos" value="{{treino.id}}" class="botao_checkbox" checked>
                    {%else%}
                        <input type="checkbox" id="{{treino.id}}" name="videos" value="{{treino.id}}" class="botao_checkbox">
                    {% endif %}
                    
                    {% if user.is_authenticated %}
                        <label for="{{treino.id}}">
                            <span>
                                <button class="button__texto"></button>
                            </span>
                        </label>
                    {% endif %}
                </div>
            </div>

                <div class="video__cointainer__video__img">
                    {% if treino.imagem %}
                        <img class="video__img" src="{{treino.imagem.url}}" id="{{treino.id}}" alt="" data-imagem data-url="{{treino.id_video_youtube}}">
                    {% else %}
                        <img class="video__img" src="{% static 'assets/imagem_indisponivel.webp'%}" id="{{treino.id}}" alt="" data-imagem data-url="{{treino.id_video_youtube}}">
                    {% endif %}
                    <div id="player{{treino.id}}"></div>
                </div>
            
            </li>
            {% endfor %}
        </ul>
        {% if user.is_authenticated %}
            <input type="checkbox" id="input_pagina_4" name="pagina_4" value="incial" class="botao_checkbox">
            <input type="checkbox" id="input_pagina_1" name="pagina_1" value="{{page_obj.number}}" class="botao_checkbox">
            <input type="checkbox" id="input_pagina_2" name="pagina_2" value="{{page_obj.number}}" class="botao_checkbox">
            <input type="checkbox" id="input_pagina_3" name="pagina_final" value="{{page_obj.paginator.num_pages}}" class="botao_checkbox">

            <input type="checkbox" id="todos" name="todos" value="todos" class="botao_checkbox">
            {% for page in page_obj %}
                <input type="checkbox" id="lista" name="id_page" value="{{page.id}}" class="botao_checkbox" checked>
            {% endfor %}
            <input type="checkbox" id="todos" name="todos" value="todos" class="botao_checkbox">

            {% for categoria in categorias %}
                <input type="checkbox" id="{{categoria.categoria}}" name="categorias__input" value="{{categoria|upper}}" class="botao_checkbox">
            {% endfor %}
            

            <button type="submit" class="button__input salvar" id="teste_botton" >Salvar</button>
            {% endif %}
        </form>
        {% else %}
        <li class="video__container video__container__no_query">
            Videos Indisponivel
        </li>
        {% endif %}
    </section>


    <script src="https://www.youtube.com/iframe_api"></script>  
    <script src="{% static 'js/apiYoutubeIframe.js'%}"></script>
    <script src="{% static 'js/categorias_page.js'%}" type="module"></script>
    <script src="{% static 'js/ancora_salve.js'%}" type="module"></script>

    {% include 'partials/pagination.html' %}
{% endblock %}