{% extends 'base/base.html' %}
{% load static %}
{% block header %}
{% endblock %}

{% block conteudo %}
<section>
    <div class="container__dia__adicionar">
        <a href="#" >Adicionar</a> 
    <p class="container__texto__segunda" id="dia_semanal">{{dia}}</p>
    </div>
    <button type="button" class="video__container__concluido_js resetbutton">Resetar Marcação</button>
    <button id="organizarjs" class="video__container__concluido_js organizarjs" >Organizar</button>
    

    <ul id ="sortable-list" class="organizar__container video__container__concluido_js">
        <li class="organiza__titulo" >
            <p class="organiza__titulo__1">Escolha a Ordem</p>
            <img src="{% static 'img/marca-x.png' %}" id="button_organizar__fechar" class="organiza__titulo__x"></button>
        </li>
    {% for treino in dia_semana %}
        <li draggable="true" class="organizar__lista__item" data-organizacao-id="{{treino.video.id}}">
                <p>{{ treino.video.exercicio}}</p>
                <img draggable="false" class="organizar__img" src="{% static 'img/em-formacao.png'%}" alt="{{treino.video.id}}">
        </li>
    {% endfor %}

    </ul>
    
    {% include 'partials/_categorias_totais.html' %}
    <ul id="ulVideos">
        {%if dia_semana%}
        {% for treino in dia_semana %}
        <li class="video__container" data-bloco-video="player{{treino.video.id}}" data-video-id='{{treino.video.id}}'>
            <div class="video__descricao">
                {% include 'partials/_info_categorias.html'%}
                <div class="video__descricao__textos">
                    <h3 >{{ treino.video.exercicio}}</h3>
                    {% if treino.video.quantidade %}
                        <p>{{ treino.video.repeticao}} * {{treino.video.quantidade}}</p>
                    {% else %}
                        <p >{{ treino.video.repeticao }} * ({{treino.video.time}}) Segundos</p>
                    {% endif %}
                </div>
                <button type="button" class="button__js__cc button__concluir border__style_2px" data-button="player{{treino.video.id}}">Concluir</button>
            </div>
    
    
            <div class="video__cointainer__video__img" data-iframejs="{{treino.video.id}}">
                <img class="video__img" src="{% static 'img/fortnite.jpg'%}" id="{{treino.video.id}}" alt="" data-imagem data-url="{{treino.video.id_video_youtube}}">
                <div id="player{{treino.video.id}}"></div>
            </div>
        
        </li>
        {% endfor %}
        {% else %}
        <p class="container__texto__segunda ">Lista Vazia</p>
        {% endif %}
</section>
{% include 'partials/pagination.html' %}
{% csrf_token %}
{% include 'partials/footer.html' %}
<script src="https://www.youtube.com/iframe_api"></script>  
<script src="{% static 'js/main.js'%}" type="module"></script>
<script src="{% static 'js/listaOrder.js' %}" type="module"></script>
{% endblock %}