{% extends 'base/base.html'%}
{%load static %}
{% block conteudo %} 
<section class="container__lista">
    <ul class="container__lista__1" >
        {% for dia in dia_semana_index %}
        <li class="container__lista__1__item">
            <div class="container__lista__1__ancora">
                <a href="{% url 'exercicios' dia.nome geral %}">{{dia.nome}} 
                </a>
                <a href="#" class="container__lista__item__criar">Add</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <hr class="hr">
    <ul class="container__lista__2">
        <li class="container__lista__2__item">
            <button type="button" >Criar uma lista</button>
        </li>
        <li class="container__lista__2__item" id="form">
            <form action="" class="form_container" method="POST">{% csrf_token %}
                <input class="container__lista__2__input" type="text" id="form" placeholder="Nome">
                <button type="submit" class="container__lista__2__input__button">
                    OK
                </button>
            </form>
        </li>
        
            <li class="container__lista__2__item">
                <p class="container__lista__2__texto">1</p>
                <a href="#" class="container__lista__2_ancora">Add</a>
        </li>
        <li class="container__lista__2__item">
            <p class="container__lista__2__texto">Criar uma listaCriar uma </p>
            <a href="#" class="container__lista__2_ancora">Add</a>
        </li>
        <li class="container__lista__2__item">
            <p class="container__lista__2__texto">1</p>
            <a href="#" class="container__lista__2_ancora">Add</a>
            </li>
            <li class="container__lista__2__item">
                <p class="container__lista__2__texto">1</p>
                <a href="#" class="container__lista__2_ancora">Add</a>
            </li>
        <li class="container__lista__2__item">
            <p class="container__lista__2__texto">1</p>
            <a href="#" class="container__lista__2_ancora">Add</a>
        </li>
        <li class="container__lista__2__item">
            <p class="container__lista__2__texto">1</p>
            <a href="#" class="container__lista__2_ancora">Add</a>
        </li>
    </ul>
</section>
<script src="{% static 'js/viewport.js'%}" type="module"></script>
{% include 'partials/footer.html' %}
{% endblock%}