{% extends 'base/base.html' %}
{% load static %}
{% block header %}
{% endblock %}

{% block conteudo %}
<section>
{% include 'partials/_categorias_totais.html' %}
{% include 'partials/pagination.html' %}

<ul>
    {% for treino in videos %}
    <li class="video__container">
        <div class="video__descricao">
        {% include 'partials/_info_categorias.html'%}
        <div class="video__descricao__textos">
            <h3>{{ treino.exercicio}}</h3>
            {% if treino.quantidade %}
                <p>{{ treino.repeticao}} * {{treino.quantidade}}</p>
            {% else %}
                <p>{{ treino.repeticao }} * ({{treino.time}}) Segundos</p>
            {% endif %}
        </div>
    </div>
    <div class="video__cointainer__video__img">
        <iframe class="video__video" src="{{ treino.video }}?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen preload="metadata" referrerpolicy="no-referer" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
    </div>
   
    </li>
    {% endfor %}
</ul>
</section>
{% include 'partials/pagination.html' %}
{% include 'partials/footer.html' %}
{% endblock %}