{% extends 'base/base.html' %}
{% load static %}
{% block header %}
{% endblock %}

{% block conteudo %}
<section>
{% include 'partials/_categorias_totais.html' %}
{% include 'partials/pagination.html' %}

<ul>
    {% for treino in videos %}
    <li class="video__container">
        <div class="video__descricao">
        {% include 'partials/_info_categorias.html'%}
        <div class="video__descricao__textos">
            <h3>{{ treino.exercicio}}</h3>
            {% if treino.quantidade %}
                <p>{{ treino.repeticao}} * {{treino.quantidade}}</p>
            {% else %}
                <p>{{ treino.repeticao }} * ({{treino.time}}) Segundos</p>
            {% endif %}
        </div>
    </div>
    <div class="video__cointainer__video__img">
        <img class="video__img" src="{% static 'img/fortnite.jpg'%}" id="{{treino.id}}" alt="" data-imagem data-url="{{treino.id_video_youtube}}">
            <div id="player{{treino.id}}"></div>
    </div>
   
    </li>
    {% endfor %}
</ul>
<form method="POST">
    {% csrf_token %}
</form>
<script src="https://www.youtube.com/iframe_api"></script>  
<script src="{% static 'js/apiYoutubeIframe.js'%}"></script>
</section>
{% include 'partials/pagination.html' %}
{% include 'partials/footer.html' %}
{% endblock %}