{% if lista_treino %}

<div class="video__icon_container">
    <ul class="video__incon__lista">
    {% for nomes in treino.categorias.all%}
        <li class="video__icon__itens border__style_2px" alt="Ícone">
            {{nomes}}
        </li>
    {% endfor %}
    </ul>
    <p class="info-box">{{treino.video.info}}</p>
</div>
{%else%}

<div class="video__icon_container">
    <ul class="video__incon__lista">
        {% for nomes in treino.video.categorias.all%}
        <li class="video__icon__itens border__style_2px" alt="Ícone">
            {{nomes}}
        </li>
        {% endfor %}
        {% for nomes in treino.categorias.all%}
        <li class="video__icon__itens border__style_2px" alt="Ícone">
            {{nomes}}
        </li>
        {% endfor %}
    </ul>
<p class="info-box">{{treino.video.info}}</p>

{% if not dia == False %}
    <button type="button" class="button__js border__style_2px" data-button-remove="{{treino.video.id}}">X</button>
{% endif %}
</div>
{% endif %}