{% if lista_treino %}

<div class="video__icon_container">
    <ul class="video__incon__lista">
    {% for nomes in treino.categorias.all%}
        <li class="video__icon__itens" alt="Ícone">
            {{nomes}}
        </li>
    {% endfor %}
    </ul>
</div>

    <li class="video__icon__itens" alt="Ícone">
        <p>{{treino.info}}</p>
    </li>

{%else%}
<div class="video__icon_container">
    <ul class="video__incon__lista">
        {% for nomes in treino.video.categorias.all%}
        <li class="video__icon__itens" alt="Ícone">
            {{nomes}}
        </li>
        {% endfor %}
        {% for nomes in treino.categorias.all%}
        <li class="video__icon__itens" alt="Ícone">
            {{nomes}}
        </li>
        {% endfor %}
    </ul>
<button type="button" class="button__js">X</button>
    <p class="button__info">Remover</p>
</div>

<div class="">
    <p>{{treino.info}}</p>
</div>
{% endif %}