{% load static%}

<nav class="nav_bar">
        <a href="{% url 'home' %}" class='inicio'>Inicio </a>
    <div class="container nav__container">
        {% if not user.is_authenticated %}
            {% if geral %}
            <a href="{% url 'videos' geral %}" class="nav__texto nav__texto_mid">Videos</a>
            {% endif %}
        {% endif %}
        
        {% if user.is_authenticated %}
            {% if not lista_treino %}

                <a href="{% url 'videos' geral %}" class="nav__texto nav__texto_mid mobile_off">Videos</a>
                <a href="{% url 'videos_zumba'%}" class="nav__texto nav__texto_mid mobile_off">Zumba</a>
                <a href="{% url 'dia' %}" class="nav__texto mobile_off mobile_off_500">Criar Treino</a>
                
                <input type="checkbox" id="menu" class="nav__checkbox__botao">
                <label for="menu">
                    <span class="cabecalho__menu-hamburguer"></span>
                </label>
                <ul class="lista__menu_mobile">
                    <li class="lista-menu__item">
                        <a href="{% url 'videos' geral %}" class="lista-menu__link mobile_off_500">Videos</a>
                    </li>
                    <li class="lista-menu__item">
                        <a href="{% url 'dia' %}" class="lista-menu__link">Criar Treino</a>
                    </li>
                    <li class="lista-menu__item">
                        <a href="{% url 'videos_zumba'%}" class="lista-menu__link mobile_off_500">Zumba</a>
                    </li>
 
                    <li class="lista-menu__item">
                        <a href="{% url 'logout' %}" class="lista-menu__link">Desconectar</a>
                    </li>
                </ul>
                <a href="{% url 'logout' %}" class="nav__texto mobile_off mobile_off_500">Desconectar</a>
                
            {% else %}
                <a href="{% url 'videos' geral %}" class="nav__texto nav__texto_mid mobile_off">Videos</a>
                <a href="{% url 'videos_zumba'%}" class="nav__texto nav__texto_mid mobile_off">Zumba</a>
                {% comment %} <a href="{% url 'dia' %}" class="nav__texto mobile_off">Criar Treino</a> {% endcomment %}
                
                <input type="checkbox" id="menu" class="nav__checkbox__botao">
                <label for="menu">
                    <span class="cabecalho__menu-hamburguer"></span>
                </label>

                <ul class="lista__menu_mobile">
                    <li class="lista-menu__item">
                        <a href="{% url 'logout' %}" class="lista-menu__link">Desconectar</a>
                    </li>
                </ul>
                <a href="{% url 'logout' %}" class="nav__texto mobile_off mobile_off_500">Desconectar</a>

            {% endif%}
        {% else%}

            <input type="checkbox" id="menu" class="nav__checkbox__botao">
            <label for="menu">
                <span class="cabecalho__menu-hamburguer mobile_off_500"></span>
            </label>
            <ul class="lista__menu_mobile">
                <li class="lista-menu__item">
                     {% if geral %}
                    <a href="{% url 'videos' geral %}" class="lista-menu__link">Videos</a>
                    {% endif%}
                </li>
                <li class="lista-menu__item">
                    <a href="{% url 'login' %}" class="lista-menu__link">Entrar</a>
                </li>
                <li class="lista-menu__item">
                    <a href="{% url 'cadastro' %}" class="lista-menu__link">Cadastrar</a>
                </li>
            </ul>
        <a href="{% url 'login' %}" class="nav__texto mobile_off">Entrar</a>
        <a href="{% url 'cadastro' %}" class="nav__texto mobile_off">Cadastrar</a>
        {% endif %}
    </div>
</nav>