{% extends 'base/base.html' %}

{% load static %}
{% block header %}
{% endblock %}

{% block conteudo %}
<section class="form_login form_cadastro">
    <form action="{% url 'cadastro' %}" method="POST" class="form__input">{% csrf_token %}
        {% for area in form.visible_fields%}
        <label class="form__text" >{{area.label}}</label>
        {{ area }}
        <p class='form__error'>{{area.errors}}</p>
        {% endfor %}
        <div class="g-recaptcha" data-sitekey="6LdjkKcnAAAAACNtze7WTfmubYEcgCjx5g6wjm8A"></div>
        <p class='form__error'>{{error}}</p>
        <button type="submit" class="form__text button__input">Cadastrar</button>
    </form>
</section>
{% endblock %}