<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href="{% static 'css/reset.css' %}" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <title>Academia casa</title>
    </head>
    <body class="body">
        <!-- Responsive navbar-->
        {% include 'partials/navbar.html' %}
        <!-- Header-->
        {% block header %}
        {% include 'partials/header.html' %}
        {% endblock %}
        <!-- Page Content-->

        {% block conteudo %} {% endblock%}
        
    </body>
</html>
